extends ./layout

	

block nav
	a.blog-nav-item(href='/') Tiger's Blog
	a.blog-nav-item.active(href='/about') About me


block main
	div.blog-post
		div.blog-post-info
			.info
				img(src="https://avatars2.githubusercontent.com/u/1510376?v=3&s=120")
				|tiger,
				|ryw401(AT)gmail(.)com,
				|<a href="https://github.com/dxtiger">dxtiger</a>,
				|前端开发工程师,
				|就职于<a href="#">YOKA时尚网</a>
	