doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible',content='IE=edge')
        meta(name='viewport',content='width=device-width, initial-scale=1')
        meta(name='description',content="tiger's blog")
        meta(name='author',content='tiger')
        title tiger's blog
        link(href='/css/bootstrap.min.css',rel='stylesheet')
        link(href='/css/blog.css',rel='stylesheet')
    body
        div.blog-masthead
            div.container
                nav.blog-nav
                    block nav
                        a.blog-nav-item.active(href='/') Tiger's Blog
                        a.blog-nav-item(href='/about') About me
        div.container
            div.blog-header
            div.row
                div.col-sm-12.blog-main
                    block main
                    block page
                
                    
        footer.blog-footer
            p 京ICP备15009380号-1